<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Backbone Boilerplate Fetch Collection Boilerplate</title>   
    <style>
        div {
            margin-top:10px;
            margin-bottom:10px;
        }
    </style>
  </head>

<body>

<!-- functional library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!--
        removes annoying warning on event handling -- http://code.jquery.com/jquery-1.11.0-beta1.js 
        See: http://stackoverflow.com/questions/20045162/jquery-error-event-returnvalue-is-deprecated-please-use-the-standard-event-pre for details
        -->
        <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
        <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>


<script type="text/javascript">



    function fetchBasicPlaylist(artist) {
        console.log("fetching playback...");
        var url = 'http://developer.echonest.com/api/v4/playlist/static/';
        console.log("Creating the playlist ...");
       

        var requestParams = {};
        var queryParams = {};

        requestParams.baseURL = "http://developer.echonest.com/api/v4";
        requestParams.serviceType = "playlist";
        requestParams.service = "static";

        queryParams.api_key = "PZ4LKPTF5EEUFUVKM";
        queryParams.format = "json";
        queryParams.results = "20";
        queryParams.artist = artist;
        queryParams.bucket = ["id:spotify-WW","tracks"];
        queryParams.limit = "true";

        var url = requestParams.baseURL 
                + "/" 
                + requestParams.serviceType 
                + "/" 
                + requestParams.service;


        $.ajax({
                url:url,
                data:$.param(queryParams,true),
                success:
                    function(data) {
                        if (! ('songs' in data.response)) {
                            $('body').html("couldn't find any songs for " + artist);
                        } else {

                            var tracks = "";
                            for (var i = 0; i < data.response.songs.length; i++) {
                                var song = data.response.songs[i];
                                //console.log(song);
                                var tid = song.tracks[0].foreign_id.replace('-WW', '');
                                console.log(tid);
                                //tracks = tracks + tid + ',';
                                var link = "<div><a href='" + tid + "'>" + tid + "</div>";
                                $('body').append(link);
                            }
     
                        }
                    },
                error: 
                    function(xhr, textStatus, errorThrown) {
                        $('body').html(textStatus);
                     }
            });
    }

    $(function() {
        $("body").append("<p>DOM READY</p>");
        fetchBasicPlaylist("Big Bill Broonzy");
    });


</script>
</body>
</html>
