<!DOCTYPE HTML>
<html>
	<head>
	    <meta charset="UTF-8">
	    <title>Backbone Boilerplate Collection</title>
	</head>
	<body>
		<!-- functional library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<!--
		removes annoying warning on event handling -- http://code.jquery.com/jquery-1.11.0-beta1.js 
		See: http://stackoverflow.com/questions/20045162/jquery-error-event-returnvalue-is-deprecated-please-use-the-standard-event-pre for details
		-->
		<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
		<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>


		<!-- application code -->
		<script>
			var bpCollections = [];
			someJsonObjects = [
				{id:"1",content:"first json object"},
				{id:"2",content:"second json object"},
				{index:"3",blob:"third json object"}
			];
			$(function() {
				var BoilerplateCollection1 = Backbone.Collection.extend();
  				bpCollections[0] = new BoilerplateCollection1(someJsonObjects);

  				var Photo = Backbone.Model.extend({
				    defaults: {
				        src: 'placeholder.jpg',
				        title: 'an image placeholder',
				        coordinates: [0,0]
				    },
				    initialize: function(){
				        this.on("change:src", function(){
				            var src = this.get("src");
				            console.log('Image source updated to ' + src);
				        });
				        
				        this.on("change:title", function(){
				            var title = this.get("title");
				            console.log('title updated to ' + title);
				        });

				        this.on("change:coordinates", function(){
				            var coordinates = this.get("coordinates");
				            console.log('coordinates updated to ' + coordinates);
				        });
				    },
				    changeProperty: function( property ){
				    	var changeToCommit = {};
				    	changeToCommit[property.key] = property.val;
				    	console.log(changeToCommit);
				        this.set(changeToCommit);
				    }
				});
				var photo = new Photo({ src: "test.jpg", title:"testing"});

  				var  BoilerplateCollection2 = Backbone.Collection.extend({model:Photo});
  				bpCollections[1] = new BoilerplateCollection2();
  				bpCollections[1].add([photo]);


  				$("body").append("<div>first collection:" + JSON.stringify(bpCollections[0].toJSON()) + "</div>");
  				$("body").append("<div>second collection:" + JSON.stringify(bpCollections[1].toJSON()) + "</div>");
			});


		</script>
	</body>
</html>